*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
unityLibrary/
/app/src/main/java/com/example/beacon_making_kotlin/pathfinding/service/
app/src/main/java/com/example/beacon_making_kotlin/pathfinding/service/
/app/src/main/java/com/example/beacon_making_kotlin/db/apiKey/
app/src/main/java/com/example/beacon_making_kotlin/db/apiKey/
